<web-app>
    <servlet>
        <servlet-name>OlympicsServlet</servlet-name>
        <servlet-class>OlympicsServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>OlympicsServlet</servlet-name>
        <url-pattern>/OlympicsServlet</url-pattern>
    </servlet-mapping>
</web-app>
